extends layout

block meta
    meta(name="keywords", content="extraviados, buscados, perdidos, sustra&iacute;dos, chicos, missing children, menor, menores, sustracci&oacute;n, desaparecido, prevenci&oacute;n")
    meta(property="og:title", content="Encontremos a #{profile.name}")
    meta(property="og:type", content="non_profit")
    meta(property="og:url", content="http://missing-io.herokuapp.com/encontremos/#{profile.shortName}")
    meta(property="og:site_name", content="Personas a encontrar.")
    meta(property="og:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sum치 tu granito de arena.")
    meta(property="og:image",content="#{profile.photo}")
    meta(property="fb:app_id", content="460157907431388")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@missingchildren")
    meta(name="twitter:creator", content="@missingchildren")
    meta(name="twitter:title", content="Encontremos a #{profile.name}")
    meta(name="twitter:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sum치 tu granito de arena.")
    meta(name="twitter:image",content="#{profile.photo}")

block styles
    link(href='/css/banners/140.css', rel='stylesheet', type='text/css')

block content
    div(class="banner-container", ng-app="missing-io",ng-init="profile = #{profileJson}",class="fullheight")
        div(ng-controller="caseController", class="row")
            div(class="eight columns")
                div(class="image circle")
                    img(src="#{profile.photo}")

            div(class="eight columns")
                div(class="row")
                h5
                    div
                        strong  #{profile.name}
                    span falta desde {{profile.formatedSince}}.
                    br
                h6
                    strong Con tu ayuda, alguien puede encontrarla.
            div(class="eight columns")
                    ul(class="socbtns")
                        li
                            div(class="btn primary")
                                a(target="_blank",ng-click="tweet()",ref="") Twite치
                            div(class="btn facebook")
                                a(target="_blank",ng-click="facebook()",ref="") Share치


block scripts
    script(src='/js/apps/detalle/controllers/detalle.js')
    script(src='/js/apps/core/services/profiles.js')
    script(src='/js/apps/detalle/app.js')