extends layout

block meta
    meta(name="keywords", content="fertility, insurance, emotions, diagnosis, cancer navigation, cancer, LIVESTRONG Foundation, LIVESTRONG, LIVESTRONG Day, LIVESTRONG Challenge, wristbands, yellow wristbands, Team LIVESTRONG")
    meta(property="og:title", content="Encontremos a #{profile.name}")
    meta(property="og:type", content="non_profit")
    meta(property="og:url", content="http://missing-io.herokuapp.com/encontremos/#{profile.shortName}")
    meta(property="og:site_name", content="Personas a encontrar.")
    meta(property="og:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(property="og:image",content="#{profile.photo}")
    meta(property="fb:app_id", content="460157907431388")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@missingchildren")
    meta(name="twitter:creator", content="@missingchildren")
    meta(name="twitter:title", content="Encontremos a #{profile.name}")
    meta(name="twitter:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(name="twitter:image",content="#{profile.photo}")

block content
    h1 Personas Perdidas
    div(ng-app="missing-io",class="fullheight")
        div(class="row", ng-show="onDetail")
            div(class="two columns")
                div(class="image circle")
                    img(src="#{profile.photo}")
            div(class="eight columns")
                div(class="row")
                h2 Encontremos a
                    strong #{profile.name}
                h4 Despareció hace en 13 años
                h5 Hoy debe tener 15 años
                div(class="row")
                    ul(class="socbtns")
                        li
                            div(class="btn primary")
                                a(target="_blank",ref="") Twitter
                            div(class="btn twitter")
                                a(target="_blank",ref="") Facebook
                            div(class="btn secondary")
                                a(target="_blank",ref="") Banners
                            div(class="btn danger")
                                a(target="_blank",ref="") Posters
block scripts
    script(src='/js/apps/core/controllers/detalle.js')
    script(src='/js/apps/detalle/app.js')