
extends layout


block meta
    meta(name="keywords", content="extraviados, buscados, perdidos, sustra&iacute;dos, chicos, missing children, menor, menores, sustracci&oacute;n, desaparecido, prevenci&oacute;n")
    meta(property="og:title", content="Encontremos a #{profile.name}")
    meta(property="og:type", content="non_profit")
    meta(property="og:url", content="http://missing-io.herokuapp.com/encontremos/#{profile.shortName}")
    meta(property="og:site_name", content="Personas a encontrar.")
    meta(property="og:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(property="og:image",content="#{profile.photo}")
    meta(property="fb:app_id", content="460157907431388")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@missingchildren")
    meta(name="twitter:creator", content="@missingchildren")
    meta(name="twitter:title", content="Encontremos a #{profile.name}")
    meta(name="twitter:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(name="twitter:image",content="#{profile.photo}")

        
block content
    header
      a(href="/")
        h1.logo Personas Perdidas en Argentina
    div(class="row detail-header")
        h1 Personas Perdidas
    div(ng-app="missing-io",ng-init="profile = #{profileJson}",class="fullheight")
        div(ng-controller="caseController", class="row detail")
            div(class="two columns")
                div(class="image circle")
                    img(src="#{profile.photo}")
            div(class="twelve columns")
                div(class="row")
                h2 Encontremos a
                    strong  #{profile.name}
                h4 Despareció en #{profile.place} hace {{profile.formatedSince}}
                h5 Hoy tiene #{profile.now} años.
                div(class="row")
                    h5
                        strong Compartí ahora y ayuda!
                    ul(class="socbtns")
                        li
                            div(class="btn primary")
                                a(target="_blank",ng-click="tweet()",ref="") Twitter
                            div(class="btn facebook")
                                a(target="_blank",ng-click="facebook()",ref="") Facebook
                            div(class="btn secondary")
                                a(target="_blank",ng-click="banners()",ref="") Agrega un banner
                            div(class="btn danger")
                                a(target="_blank",ng-click="posters()", ref="") Imprimi un poster

        div(class="row detail-more")
            h2 Podes ayudar mas!
            a(href="/", class="search-btn") Busca mas casos!

        div(class="row detail-info")
           h2 ¿Sabes algo sobre esta persona? 
              strong Contactate ahora
           ul
              li
                h3
                  a(href="http://www.missingchildren.org.ar/", target="_blank") Missing Children
                    small 0 800 333 5000
              li
                h3
                  a(href="http://www.personasperdidas.org.ar/", target="_blank") Red Solidaria
                    small (011) 4450-8204

    footer
      p info@missingchildren.org.arg
      hr
      p 0800 333 5500
      hr
      p Un projecto creado en #hackathonlitoral
      
block scripts
    script(src='/js/apps/detalle/controllers/detalle.js')
    script(src='/js/apps/core/services/profiles.js')
    script(src='/js/apps/detalle/app.js')