extends layout

block meta
    meta(name="keywords", content="extraviados, buscados, perdidos, sustra&iacute;dos, chicos, missing children, menor, menores, sustracci&oacute;n, desaparecido, prevenci&oacute;n")
    meta(property="og:title", content="Encontremos a #{profile.name}")
    meta(property="og:type", content="non_profit")
    meta(property="og:url", content="http://missing-io.herokuapp.com/encontremos/#{profile.shortName}")
    meta(property="og:site_name", content="Personas a encontrar.")
    meta(property="og:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(property="og:image",content="#{profile.photo}")
    meta(property="fb:app_id", content="460157907431388")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@missingchildren")
    meta(name="twitter:creator", content="@missingchildren")
    meta(name="twitter:title", content="Encontremos a #{profile.name}")
    meta(name="twitter:description", content="Con tu ayuda, podemos encontrar a #{profile.name}. Comparti este link y sumá tu granito de arena.")
    meta(name="twitter:image",content="#{profile.photo}")

block content
    h1 Personas Perdidas
    div(ng-app="missing-io",ng-init="profile = #{profileJson}",class="fullheight")
        div(class="row", ng-show="onDetail")
            div(class="two columns")
                div(class="image circle")
                    img(src="#{profile.photo}")
            div(class="eight columns")
                div(class="row")
                h2 Encontremos a
                    strong  #{profile.name}
                h4 Despareció hace en #{profile.place}
                h5 Hoy tiene #{profile.now}
                div(class="row")
                    h5
                        strong Compartí ahora y ayuda!
                    ul(class="socbtns")
                        li
                            div(class="btn primary")
                                a(target="_blank",ng-click="tweet()",ref="") Twitter
                            div(class="btn twitter")
                                a(target="_blank",ng-click="facebook()",ref="") Facebook
                            div(class="btn secondary")
                                a(target="_blank",ng-click="banners()",ref="") Banners
                            div(class="btn danger")
                                a(target="_blank",ng-click="posters()", ref="") Posters
            div(class="four columns")
                h2 Podes ayudar mas!
                    div(class="large success btn")
                        a(href="/") Busca mas casos!
        div(class="row")
            div(class="ten columns")
                 h2 ¿Sabes algo sobre esta persona?
                    strong Contactate ahora
                 ul
                    li
                        h3
                            a(href="http://www.missingchildren.org.ar/", target="_blank") Missing Children
                                small 0 800 333 5000
                    li
                        h3
                            a(href="http://www.personasperdidas.org.ar/", target="_blank") Red Solidaria
                                small (011) 4450-8204

block scripts
    script(src='/js/apps/core/controllers/detalle.js')
    script(src='/js/apps/detalle/app.js')